.venv
__pycache__
.env

# Ignore everything
TestConfigs/*
TestReports/*

# But keep these specific files
!TestConfigs/sample_test.yaml
!TestReports/report_Speed_Load_Thermal_Test_20260120_183545.json
